.musicVideo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  margin-top: 5em;
  width: 100% !important;
  max-width: none !important;
  display: flex;
  flex-direction: column;
}
.player {
  max-width: 1015px !important;
}
